*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.fond {
  background-color: darkblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.enTete {
  background-color: red;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 4px;
}